altgraph==0.17.4
certifi==2024.7.4
charset-normalizer==3.3.2
comtypes==1.4.5
idna==3.7
importlib_metadata==8.0.0
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyserial==3.5
pystray==0.19.5
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.3
six==1.16.0
urllib3==2.2.2
zipp==3.19.2
